@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
}

body {
	
	
}

a {
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}

html{
	background-color:#050542;
	scroll-behavior: smooth;
}


::selection {
	background:#66e5bf;
  }
