@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
	--blue: #050542;
	--green: #66e5bf;
	--purple: #a675f5;
	--white: #ffffff;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Open Sans";
}

body {
	background-color:#050542;

	
}

a {
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}

html{
	scroll-behavior: smooth;
	overflow-x: scroll;
	scroll-snap-type: y mandatory;
}
::selection {
	background:#66e5bf;
  }